grpcio==1.65.1
grpcio-tools==1.65.1
SQLAlchemy[asyncio]==2.0.31
asyncpg==0.29.0
prometheus-client==0.20.0
python-dotenv==1.0.1

# testes
pytest==9.1.1
pytest-asyncio==1.4.0
testcontainers[postgres]==4.7.2
